body{
    color: #EFEFF0; 
    background-color: #3C3C3C;
    font-family:'Courier New', Courier, monospace;
}

h1, h2{
    color: #EFEFF0;
    text-align: center;
}

#header{
    color:rgb(98, 17, 39);
    background-color: #787878;
}

#main{
    color: #D2D2D2;
    margin: 30px;
    border: 3px black;
    padding: 20px;
}

#footer{

}

table{
    margin:auto;  
}

img{
    display: block;
    margin: auto;
}

form{
    width: 300px;
    margin: auto;
    text-align: center;
}

.highlight{
    color: red;
}